# Общие настройки
PROJECT_NAME=LumenPay Bot
ENVIRONMENT=development
LOG_LEVEL=INFO
TIMEZONE=Europe/Moscow

# Admin credentials (development only)
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=admin12345

# Backend
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
SECRET_KEY=super-secret-key-change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database
DATABASE_URL=sqlite+aiosqlite:///./lumenpay.db
SYNC_DATABASE_URL=sqlite:///./lumenpay.db

# Redis / Cache
REDIS_URL=redis://localhost:6379/0

# Telegram
BOT_TOKEN_ENCRYPTION_KEY=Z0FBQUFBQmxaZ1FkbTJiYV9iU0FqT1JBSmU4NV9lc3FIV0dMYkkzR0t1eEhtb21OcEJyTnF2T1Fqemg2c3B0bWdUTkZ4SHlGOE4zV000bm1ZaHo1S2NYY0d2OU9HdExZMU02WUVpQlJ4bks9
TELEGRAM_BOT_TOKEN=8546575975:AAFb2n7cZ9b-G45Pv_lLH7RO_lMPpCwBCEg
BACKEND_BASE_URL=http://localhost:8000
BACKEND_API_PREFIX=/api/v1
REQUEST_TIMEOUT_SECONDS=15
POLLING_INTERVAL=1.0

# Backups
BACKUP_ENABLED=true
BACKUP_DAILY_TIME=03:00
BACKUP_DIRECTORY=backups
BACKUP_KEEP_DAYS=7
BACKUP_YANDEX_TOKEN=113a005c6c964d07b4e176fddee8404f
BACKUP_SEND_TO_TELEGRAM=false
BACKUP_ADMIN_CHAT_ID=243860956

# YooKassa
YOOKASSA_SHOP_ID=1187321
YOOKASSA_API_KEY=test_9kjOLn8uwpcw-6npCvxjGc7J6mT3ofqTbf6YKrz1iLg
YOOKASSA_RETURN_URL=http://localhost:8000/payments/return
YOOKASSA_SUCCESS_URL=http://localhost:8000/payments/success
YOOKASSA_FAILURE_URL=http://localhost:8000/payments/failure

